html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  padding-left: 20px;
}

section {
  padding-top: 10px;
  padding-bottom: 20px;
  -webkit-overflow-scrolling: touch;
}
